<% include ../partials/header %>

<h1><%= campground.name %></h1>

<img src="<%= campground.img%>">

<p><%= campground.description%></p>

<% campground.comments.forEach(function(x){ %>

<p><strong><%= x.author%></strong> - <%= x.text%></p>

<% }) %>

<p>
    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add a new comment</a>
</p>

<% include ../partials/footer %>